#headim {
		width: 85%; height: 10%; 
		margin-left: 9%; 
		margin-right: 9%;
	}
#logoim {
		width: 5em; height: 3em; 
	}
#container { 
	width:95%; height: 95%; 
	margin-left:1%; margin-right:1%; 	
	}

#header { 
	/*border-style: solid; border-color: black;*/ 
	margin-left:1%; margin-right:1%;
	/*background-color:#80bfff;*/
	/*text-align: center; font-size: 4em; font-family: Verdana, serif; font-style: oblique;*/
	}
#navigation {  
	/*border-style: solid; border-color: black;*/
	margin-left:1%; margin-right:1%;
	/*background-color:#ccddff;*/
	text-align: center;
	font-family: Verdana;
	}
#page1 { 
	margin-left:1%;
	width:100%;
	height:50%;
	font-family: Verdana;
	}
#link { 
	text-align: center;
	height: 40em;
	font-family: Verdana;
		}
#imglist {
	/*border-style: solid; border-color: black; 
	border-width: 1px;*/
	width:22em;
	height:4em;
	margin-bottom:1em;
	max-width: 100%;
	height: auto;
}
#bio { 
/*border-style: solid; border-color: black;*/
	text-align: left;
	font-size: 150%;
	font-family: Lucida;
		}
#photo { 
/*border-style: solid; border-color: black;*/
	text-align: center;
	width: 70%;
	height: 15%;
	}

 /*searchbar*/
 .search-query {
    background-color:white;
	color:black;
}

.form-control:focus {
	margin-top:1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow:none;
   -webkit-box-shadow:none; 
   font-family: Lucida;
  
  }
@media screen and (min-width:769px){
	#link{
		overflow-y: scroll;
	}
}
@media screen and (max-width:768px){
.navbar-form {
	display:flex;
	width: 100%;
	margin:0 auto;
}
#link {
	width: 100%;
	height: 100%;
	position: relative;
}
#bio{
	
	width: 100%;
	height: 100%;
	position: relative;
}
#photo{
	width: 100%;
	height: 100%;
	position: relative;
}
#titlebar {
	font-size: 1em;	
	margin-bottom:10%;
	margin-left:15%;
	width:40%;
}
}
#titlebar {
	text-align:left;
	font-size: 3em;
	color:rgb(255, 255, 255);
	font-family: Lucida;
	font-style: bold;
}
@media screen and (max-width:420px){
	#titlebar{
		font-size:1.8em;
		margin-bottom:15%;
	}
}