@font-face {
	font-family:'Hanged_Letters';
	src: url(../fonts/Hanged_Letters.ttf);
}
body {
	background-color: rgb(194, 183, 255);
}
/*/////////////////////////////TITOLO INIZIO////////////////////////////*/
h1#title{
	margin-top: 10px;
	text-align: center;
    font-weight: bold; 
	font-family: 'Hanged_Letters', 'sans serif';
	font-size: 70px;
	color: rgba(193, 101, 255, 1);
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}
/*/////////////////////////////FINE TITOLO//////////////////////////////*/

.container-fluid {
	padding: 0;
}
#headim {
		width: 85%; height: 10%; 
		margin-left: 9%; 
		margin-right: 9%;
	}


#header { 
	margin-left:1%; margin-right:1%;
	}
#bio { 
	text-align: left;
	font-size: 150%;
	margin-top: 3%;
	}

#page1 { 
	margin-left:1%;
	width:100%;
	height:50%;
	font-family: Raleway;
	}
#link { 
	text-align: center;
	height: 55em;
	font-family: Raleway;
	margin-top: 3%;
		}
#imglist {
	width:22em;
	height:4em;
	margin-bottom:1em;
	max-width: 100%;
	height: auto;
	}
#photo { 
	text-align: center;
	width: 70%;
	height: 15%;
	}
	#titlebar{
		font-size: 2.5em;
		text-align:left;
		color: black;
		font-family: Raleway;
	}
	#search{
		padding-top: 6px;
		padding-bottom: 6px;
	}
	.navbar{
		margin-bottom: 0;
	}
	.navbar-inverse{
		border:2px solid #254e72;
		background-color:#428bca;
		font-weight: bold;
		color:black;
	}
	#navigation {
		padding: 0;
		width: 100%;
		position: static;
		margin-top: 3%;
	}
	.search-query{
		background-color:white;
		color:black;
		}
	
	.form-control:focus{
		margin-top:1px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	   box-shadow:none;
	   -webkit-box-shadow:none; 
	  }
	
	#log{
		width:50%;
		margin-left: 25%;
		margin-right:25%;
		margin-top:5%;
		}
	@media screen and (min-width:765px){
		#link{
			overflow-y: scroll;
		}
	}
	@media screen and (max-width:765px){
		.navbar-form {
			display:flex;
			width: 100%;
		   margin:0 auto;
		}
		#titlebar {
			font-size: 1.8em;	
		}
	}
	@media screen and (max-width:566px){
		#titlebar{
			font-size:1.4em;
			margin-right: 25%;
			}
		}
	
	@media screen and (max-width:196px){
		.navbar-toggle {
			margin-right: 30%;
		}
	}	
 /*searchbar*/

 .barBar{
    padding: 0 !important;
	border-left:2px solid #254e72 !important; 
	font-family: Raleway;  
}  
.barBar a{
	color: black !important;
}
.barBarLight:hover{
	background-color: rgb(172, 223, 243) !important;
}

.list-group-item{
    border: none;
}
#logbar{
	border-right:2px solid #254e72 !important; 
}

#linklog:hover{
	color: rgb(155, 197, 131) !important;
}


/*LOGIN CSS*/
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	}
.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
	}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
	}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
	}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
	}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
	}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
	}
.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
	}
.btn-register:hover,.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
	}