/*////////////////////////////////////////////////////// CSS GENERALE /////////////////////////////////////*/
@font-face {
	font-family:'Hanged_Letters';
	src: url(../fonts/Hanged_Letters.ttf);
}

body {
    background-color: rgb(194, 183, 255);
}
td, th{
    border-top: 1px solid rgb(80, 80, 80) !important;
}
#wikiPage li{
    border: 1px solid rgb(80, 80, 80) !important;
    background-color: #cddeff !important;
}
a {
    color: rgb(33, 33, 187);
}



/*////////////////////////////////////////////// TITOLO PAGINA INIZIO ///////////////////////////////////////////// */

h1#title{
    margin-top: 10px;
	text-align: center;
    font-weight: bold; 
	font-family: 'Hanged_Letters', 'sans serif';
	font-size: 70px;
	color: rgb(159, 125, 204);
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}


/*////////////////////////////////////////////// TITOLO PAGINA FINE ///////////////////////////////////////////// */

/*///////////////////////////////////////////// NAVBAR INIZIO///////////////////////////////////////////////////// */
#navbarvis,a[href="index.php"],form.navbar-form,.barBar a,.barBar,.navbar-inverse {
    background-color:#428bca;
    color: black !important;
    font-weight: bold;
}
.navbar-inverse {
    border:2px solid #254e72 !important;
}
#titlebar{
    font-size: 35px;
    text-align:left;
    color: black;
    font-family: Raleway;
}
#lognav{
    margin-top:1.25%;
    font-size: 1em;
    text-align:left;
    color: black;
    font-family: Raleway;
}
#search{
    padding-top: 9px;
    padding-bottom: 9px;
}
.navbar{
    margin-bottom: 0;
}
#navigation {
    padding: 0;
    margin-top: 3%;
    margin-bottom: 3%;
}
.search-query{
    background-color:white;
	color:black;
	}

.form-control:focus{
	margin-top:1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow:none;
   -webkit-box-shadow:none; 
  }

#log{
	width:50%;
	margin-left: 25%;
	margin-right:25%;
    }
#logbar{
       visibility: hidden;
        border-left: 2px solid #254e72;
}
@media screen and (min-width:765px){
    #link{
        overflow-y: scroll;
    }
}
@media screen and (max-width:765px){
    .navbar-form {
        display:flex;
        width: 100%;
       margin:0 auto;
    }
    #titlebar {
        font-size: 1.8em;
    }
    button.navbar-toggle {
        background-color:#428bca !important;
    }
    button.navbar-toggle:hover {
        background-color: rgb(172, 223, 243) !important;
    }
    #skip{ 
        margin-left: 5%;
        margin-bottom: 3%;
    }	
    .crc {
        overflow: auto;
    }
    #pin {
        display: none;
    }
}
@media screen and (max-width:566px){
    #titlebar{
        display:none;
        }  
}
@media screen and (max-width:196px){
    .navbar-toggle {
        margin-right: 30%;
    }
}

.barBar{
    padding: 0 !important;
    border-left:2px solid #254e72 !important;
    font-family: Raleway !important;
}  
.barBarLight:hover{
    background-color: rgb(172, 223, 243) !important;
}
#instaSkipNavbar{
    border-left:none !important;
}
.list-group-item{
    border: none;
}
#skip {
    background-color: white;
    font-size:15px;
    margin-right: 5px;
}
#skip:hover{
    background-color: rgb(172, 223, 243) !important;
}
#linklog:hover{
	color: rgb(172, 223, 243)!important;
}
@media screen and (max-width:761px){
    #titlebar{
        font-size:1.4em;
        margin-right: 25%;
        }
    #lognav{
        display:none;
    }
    #navbarvis a{
        font-size:1.5em;
    }
    .titleBlock{
        font-size:1.5em;
    }
    .textBlock{
        font-size:1.2em;
    }
    #logbar{
        visibility: visible;
        border-left: 2px solid #254e72;
    }
}

/*///////////////////////////////////////////// NAVBAR FINE///////////////////////////////////////////////////// */


/*///////////////////////////////////////////// TABELLA DEI RISULTATI INIZIO///////////////////////////////////////////////////// */

#tableList h3 {
    border-bottom: none;
    margin-top: 7%;
    width: 100%;
    text-align: center;
}
#tableList {
    font-family: 'Open Sans';
}
#tableList tr:nth-child(odd){
    background-color: rgb(218, 169, 250);
}

#tableList tr:nth-child(even){
    background-color: rgb(172, 223, 243);
}
#tableList tr{
    border-top:2px solid #254e72;
    border-right:2px solid #254e72;
    border-left:2px solid #254e72;
}

#tableList tr a{
    color: rgb(12, 3, 143);
}
#tableList tr a:hover{
    color:#254e72 !important;
}

#tableList tr:nth-last-child(1){
    border-bottom:2px solid #254e72;
}

/*///////////////////////////////////////////// TABELLA DEI RISULTATI FINE///////////////////////////////////////////////////// */

/*///////////////////////////////////////////// PAGINA WIKIPEDIA INIZIO///////////////////////////////////////////////////// */
.image{
    margin: auto !important;
}
.hatnote.navigation-not-searchable{
    text-align: right !important;
    font-style: italic; 
    padding-bottom: 2%;
}
.container{
    position: static;
}
#contentP{
    position: static;
    background-color: rgb(172, 223, 243);
    border:3px solid #254e72;
    margin-left: 1%;
    margin-right: 1.5%;
}

.wikiT {
    overflow: auto;
}

#chartContainer{
    overflow: auto;
    border:2px solid #254e72;
    margin-left: 5%;
    background-color: white;
}

#weatherInfo {
    overflow-x: auto;
    margin-left: 2%;
}
#weatherTable{
    background-color: rgb(172, 223, 243);
    border:2px solid #254e72;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#weatherTable th,#weatherTable td {
    border:1px solid #254e72;
    text-align: center;
    border-right:2px solid #254e72;
}
#weatherTable td:nth-child(odd){
    border-right: none;

}
#weatherTable td#med{
    border-left:2px solid #254e72;

}
@media screen and (max-width:866px){
    #index{
        font-size:1.4em;
        width:100%;
        margin-bottom:3%;
    }
    #contentP{
        font-size:1.4em;
        width:100%;
        margin-bottom:3%;
    }
    #tableP{
        font-size:1.4em;
        width:100%;
    }  
}
/*///////////////////////////////////////////// PAGINA WIKIPEDIA FINE///////////////////////////////////////////////////// */

/*/////////////////////////////////////TABELLA DI DESTRA INIZIO /////////////////////////////*/
table[class~="infobox"]{ 
    position: static;
    display: inline;
}
#pin{
    margin-bottom:2%;
    margin-top:2%;
    right: 0;
    position: relative;
    z-index: 1;
}
table[class~="infobox"] span,table[class~="infobox"] th,table[class~="infobox"] tr{
    right: 0 !important;
    padding: 1% !important;
    position: relative ;
}

table[class~="infobox"] tr{
    text-align: right;
    
}
#tableP{
 
    position: static;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(172, 223, 243);
    border-bottom: 2px solid #254e72;
    border:3px solid #254e72 !important;
    overflow: scroll; 
}
#tableP tbody{
    background-color: rgb(172, 223, 243);    
}

/*////////////////////////////////TABELLA DI DESTRA FINE/////////////////////////////////////*/

/*////////////////////// INDICE INIZIO ////////////////////////*/
#index{
    background-color: rgb(172, 223, 243);
    border:3px solid #254e72;
    margin-right: 2%;
    margin-left: 2%;
    height: 60%;

}
#toc{
    position: static;
    height: 100%;
    overflow-y:auto;
    overflow-x: visible;
    text-align: left;
}
li ul{
    overflow: auto;
}
#toc ul {
    padding: 0;
}
#tocButton{
    position: fixed;
    margin-left: 2.5%;
    margin-top:1%;
    padding: 1%;
    background-color:rgba(101, 179, 243, 1);
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border:2px solid #254e72;
    z-index: 3000;
    bottom: 5%;
    right: 90%;
}
#arrown{
    font-size: 25px;
    color: black;
    padding-left: 0.08em;
}
.fn,h2 {
    margin: auto;
    width: 60%;
    text-align: center !important;
    letter-spacing: 0.1em !important;
    border-bottom: 2px solid #000;
    margin-bottom: 0.5em !important;
    font-size:24px;
}
/*////////////////////// INDICE FINE ////////////////////////*/



h3 {
    margin: auto;
    width: 40%;
    text-align: center !important;
    letter-spacing: 0.1em !important;
    border-bottom: 1px solid #000;
    margin-bottom: 1em !important;
}

@media screen and (max-width: 768px){ /* PICCOLI AGGIUSTAMENTI ALLE SEZIONI LATERALI DELLA PAGINA WIKI */
    #toc{
        position: static;
     }
    #tableP {
        position: static;
    }
}

#map { /* CSS API MAPS */
    height: 300px;
    width: 94%;
    margin-left: 3%;
    margin-bottom: 2%;
    border:2px solid #254e72; 
  }

  #skip { /* CSS BOTTONE INSTAGRAM */
      color: black;
      margin-top: 10px;
  }

  .cross {
      margin-bottom: 0px !important;
  }
/*///////////////////////////////////////////// PAGINA WIKIPEDIA FINE///////////////////////////////////////////////////// */

