/**{
  border: 1px solid black !important; 
}*/
@font-face {
	font-family:'Hanged_Letters';
	src: url(../fonts/Hanged_Letters.ttf);
}

body {
    background-color: rgb(194, 183, 255);
}
td, th{
    border-top: 1px solid rgb(80, 80, 80) !important;
}
#wikiPage li{
    border: 1px solid rgb(80, 80, 80) !important;
    background-color: #cddeff !important;
}
a {
    color: rgb(33, 33, 187);
}

#navbarvis,a[href="index.php"],form.navbar-form,.barBar a,.barBar,.navbar-inverse {
    background-color:#428bca;
    color: black !important;
    font-weight: bold;
}
a[href="index.php"] {
    background-color: rgb(27, 27, 27) ;
 
}
.navbar-inverse {
    border:2px solid #254e72 !important;
}

/*////////////////////////////////////////////// TITOLO PAGINA INIZIO ///////////////////////////////////////////// */

h1#title{
    margin-top: 10px;
	text-align: center;
    font-weight: bold; 
	font-family: 'Hanged_Letters', 'sans serif';
	font-size: 70px;
	color: rgba(193, 101, 255, 1);
	text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
}


/*////////////////////////////////////////////// TITOLO PAGINA FINE ///////////////////////////////////////////// */

/*///////////////////////////////////////////// NAVBAR INIZIO///////////////////////////////////////////////////// */
#titlebar{
    font-size: 35px;
    text-align:left;
    color: black;
    font-family: Raleway;
}
#lognav{
    margin-top:1.25%;
    font-size: 1em;
    text-align:left;
    color: black;
    font-family: Raleway;
}
#search{
    padding-top: 9px;
    padding-bottom: 9px;
}
.navbar{
    margin-bottom: 0;
}
#navigation {
    padding: 0;
    margin-top: 3%;
    margin-bottom: 3%;
}
.search-query{
    background-color:white;
	color:black;
	}

.form-control:focus{
	margin-top:1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow:none;
   -webkit-box-shadow:none; 
  }

#log{
	width:50%;
	margin-left: 25%;
	margin-right:25%;
	}
@media screen and (min-width:765px){
    #link{
        overflow-y: scroll;
    }
}
@media screen and (max-width:765px){
    .navbar-form {
        display:flex;
        width: 100%;
       margin:0 auto;
    }
    #titlebar {
        font-size: 1.8em;
    }	
}
@media screen and (max-width:566px){
    #titlebar{
        font-size:1.4em;
        margin-right: 25%;
        }
   
}
@media screen and (max-width:196px){
    .navbar-toggle {
        margin-right: 30%;
    }
}

.barBar{
    padding: 0 !important;
    border-left:2px solid #254e72 !important;
    font-family: Raleway !important;
}  
.barBarLight:hover{
    background-color: rgb(172, 223, 243);
}
  #instaSkipNavbar{
    border-left:none !important;
}
.list-group-item{
    border: none;
}
#skip {
    background-color: white;
    font-size:15px;
    margin-right: 5px;
}
#skip:hover{
    background-color: rgb(172, 223, 243);
}
#linklog:hover{
	color: rgb(155, 197, 131) !important;
}


/*///////////////////////////////////////////// NAVBAR FINE///////////////////////////////////////////////////// */


/*///////////////////////////////////////////// TABELLA DEI RISULTATI INIZIO///////////////////////////////////////////////////// */


.blockList{
    display: flex;
}
#tableList h3 {
    border-bottom: none;
    margin-top: 7%;
    width: 100%;
    text-align: center;
}

#tableList tr:nth-child(odd){
    background-color: rgb(218, 169, 250);
}

#tableList tr:nth-child(even){
    background-color: rgb(172, 223, 243);
}
#tableList tr{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#tableList tr a{
    color: rgb(12, 3, 143);
}
#tableList tr a:hover{
    color: rgb(0, 124, 124);
}

.titleBlock {
    width:60%;
    flex: 1;
}
#tableList tr:nth-last-child(1){
    border-bottom: 2px solid black;
}

/*///////////////////////////////////////////// TABELLA DEI RISULTATI FINE///////////////////////////////////////////////////// */

/*///////////////////////////////////////////// PAGINA WIKIPEDIA INIZIO///////////////////////////////////////////////////// */
.image{
    margin: auto !important;
}
.hatnote.navigation-not-searchable{
    text-align: right !important;
    font-style: italic; 
    padding-bottom: 2%;
}

.container{
    position: static;
    /*margin: 0% !important;
    margin-right: 0% !important;*/
}
#contentP{
    position: static;
    background-color: rgb(172, 223, 243);
    border: 3px solid black;
    margin-left: 1%;
    margin-right: 1.5%;
}

.wikiT {
    overflow: auto;
}

#chartContainer{
    overflow: auto;
    border: 2px solid black;
    margin-left: 5%;
    background-color: white;
}

#weatherInfo {
    overflow-x: auto;
    margin-left: 2%;
}
#weatherTable{
    background-color: rgb(172, 223, 243);
    border: 3px solid black;
    margin-left: 10%;
    margin-bottom: 2%;
    margin-top: 2%;
}

#weatherTable th,#weatherTable td {
    border: 1px solid black;
    text-align: center;
    border-right: 2px solid black;
}
#weatherTable td:nth-child(odd){
    border-right: none;

}
#weatherTable td#med{
    border-left: 2px solid black; 
}

/*/////////////////////////////////////tabella di destra inizio /////////////////////////////*/
table[class~="infobox"]{ 
    position: static;
    display: inline;
}
#pin{
    margin-bottom:2%;
    margin-top:2%;
    right: 0;
    position: relative;
    z-index: 1;
}
table[class~="infobox"] span,table[class~="infobox"] th,table[class~="infobox"] tr{
    right: 0 !important;
    padding: 1% !important;
    position: relative ;
}

table[class~="infobox"] tr{
    text-align: right;
    
}
#tableP{
 
    position: static;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(172, 223, 243);
    border-bottom:2px solid black;
    border: 3px solid black !important;
    overflow: scroll; 
}
#tableP tbody{
    background-color: rgb(172, 223, 243);
     
}

/*////////////////////////////////tabella di destra fine/////////////////////////////////////*/

/*////////////////////// indice inizio ////////////////////////*/
#index{
    background-color: rgb(172, 223, 243);
    border: 3px solid black;
    margin-right: 2%;
    margin-left: 2%;
    height: 60%;

}
#toc{
    position: static;
    height: 100%;
    overflow-y:auto;
    overflow-x: visible;
    text-align: left;
}
li ul{
    overflow: auto;
}
#toc ul {
    padding: 0;
}
#tocButton{
    position: fixed;
    margin-left: 5%;
    margin-top:1%;
    padding: 1%;
    background-color:rgba(101, 179, 243, 1);
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid black;

}
#arrown{
    font-size: 25px;
    color: black;
    /*margin: auto;*/
    padding-left: 0.08em;
}
.fn,h2 {
    margin: auto;
    width: 60%;
    text-align: center !important;
    letter-spacing: 0.1em !important;
    border-bottom: 2px solid #000;
    margin-bottom: 0.5em !important;
    font-size:24px;
}
/*////////////////////// indice fine ////////////////////////*/



h3 {
    margin: auto;
    width: 40%;
    text-align: center !important;
    letter-spacing: 0.1em !important;
    border-bottom: 1px solid #000;
    margin-bottom: 1em !important;
}

@media screen and (max-width: 768px){
    #toc{
        position: static;
     }
    #tableP {
        position: static;
    }
}
/*///////////////////////////////////////////// PAGINA WIKIPEDIA FINE///////////////////////////////////////////////////// */

#map { 
    height: 300px;
    width: 94%;
    margin-left: 3%;
    margin-bottom: 2%;
    border: 3px solid black;   
  }

  #skip {
      color: black;
      margin-top: 10px;
  }
 

