*{
  /*border: 1px solid black !important;*/ 
}
p{
margin: auto;
}
.image {
    margin: auto !important;
}
.hatnote.navigation-not-searchable {
    text-align: right !important;
    font-style: italic; 
    padding-bottom: 2%;
}

div[role="note"] {
  
}

table[class~="infobox"] {
    position: relative !important;
    background-color: rgb(189, 187, 187);
    border-bottom:2px solid black;
}

#tableP {
    height: 88vh !important;
    width: 100vw !important;
    overflow-y: auto !important;
    background-color: rgb(189, 187, 187);
    position: fixed;
    right: 2%;
}


/*.mw-parser-output {
    column-count: 2;
    column-fill: initial;
}*/


h1#pageTitle,h2 {
    margin: auto;
    width: 60%;
    text-align: center !important;
    letter-spacing: 0.1em !important;
    border-bottom: 3px solid #000 !important;
    margin-bottom: 0.5em !important;
}

h3 {
    margin: auto;
    width: 40%;
    text-align: center !important;
    letter-spacing: 0.1em !important;
    border-bottom: 1px solid #000 !important;
    margin-bottom: 1em !important;
}

.container {
    position:relative;
}