/**{
  border: 1px solid black !important; 
}*/
/*////////////////////////////////////////////// TITOLO PAGINA INIZIO ///////////////////////////////////////////// */

h1#title{
    text-align: center;
    font-weight: bold; 
    font-style: italic;
    font-family: 'Merriweather', serif;
    font-size: 70px;
}


/*////////////////////////////////////////////// TITOLO PAGINA FINE ///////////////////////////////////////////// */

/*///////////////////////////////////////////// NAVBAR INIZIO///////////////////////////////////////////////////// */
#titlebar{
    font-size: 2.5em;
    text-align:left;
    color: white;
    font-family: Verdana;
}
.barBar{
    padding: 0 !important;
    background-color: black;
    border:1px solid black !important;
}    
#search{
    padding-top: 9px;
    padding-bottom: 9px;
}
.navbar{
    margin-bottom: 0;
}
#navigation {
    padding: 0;
    margin-top: 3%;
    margin-bottom: 3%;
}
.search-query{
    background-color:white;
	color:black;
	}

.form-control:focus{
	margin-top:1px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
   box-shadow:none;
   -webkit-box-shadow:none; 
  }

#log{
	width:50%;
	margin-left: 25%;
	margin-right:25%;
	}
@media screen and (min-width:765px){
    #link{
        overflow-y: scroll;
    }
}
@media screen and (max-width:765px){
    .navbar-form {
        display:flex;
        width: 100%;
       margin:0 auto;
    }
    #titlebar {
        font-size: 1.8em;
    }	
}
@media screen and (max-width:566px){
    #titlebar{
        font-size:1.4em;
        margin-right: 25%;
        }
   
}
@media screen and (max-width:196px){
    .navbar-toggle {
        margin-right: 30%;
    }
}

/*///////////////////////////////////////////// NAVBAR FINE///////////////////////////////////////////////////// */


/*///////////////////////////////////////////// TABELLA DEI RISULTATI INIZIO///////////////////////////////////////////////////// */


.blockList{
    display: flex;
}
#tableList h3 {
    border-bottom: none;
    margin-top: 7%;
    width: 100%;
    text-align: center;
}

#tableList tr:nth-child(odd){
    background-color: rgba(193, 101, 255, 0.3);
}

#tableList tr:nth-child(even){
    background-color: rgba(222, 57, 140, 0.3); 
}
#tableList tr{
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
}

#tableList tr a{
    color: rgb(12, 3, 143);
}
#tableList tr a:hover{
    color: rgb(0, 124, 124);
}


#tableList tr td {
   /* padding-bottom:0.5px;*/
   
}
.titleBlock {
    width:60%;
    flex: 1;
}
#tableList tr:nth-last-child(1){
    border-bottom: 2px solid black;
}

/*///////////////////////////////////////////// TABELLA DEI RISULTATI FINE///////////////////////////////////////////////////// */

/*///////////////////////////////////////////// PAGINA WIKIPEDIA INIZIO///////////////////////////////////////////////////// */
.image{
    margin: auto !important;
}
.hatnote.navigation-not-searchable{
    text-align: right !important;
    font-style: italic; 
    padding-bottom: 2%;
}

.container{
    position: static;
    /*margin: 0% !important;
    margin-right: 0% !important;*/
}
#contentP{
    position: static;
    background-color: rgba(107, 174, 201, 0.4);
    border: 1px solid black;
}

#toc{
    position: static;
    height: 70%;
    overflow-y:auto;
    overflow-x: visible;
    text-align: left;
}
li ul{
    overflow: auto;
}
#toc ul {
    padding: 0;
}
#tocButton{
    position: fixed;
    margin-left: 5%;
    margin-top:0;
    padding: 1%;
    background-color:rgba(101, 179, 243, 0.541);
    width: 60px;
    height: 60px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    border: 2px solid black;
}
#arrown{
    font-size: 25px;
    color: black;
    /*margin: auto;*/
    padding-left: 0.08em;
}
.fn,h2 {
    margin: auto;
    width: 60%;
    text-align: center !important;
    letter-spacing: 0.1em !important;
    border-bottom: 2px solid #000;
    margin-bottom: 0.5em !important;
    font-size:24px;
}
/*/////////////////////////////////////tabella di destra inizio /////////////////////////////*/
table[class~="infobox"]{ 
    position: static;
    /*background-color:  rgb(199, 239, 255);*/
    border-bottom:2px solid black;
    display: inline;
   
}
#pin{
    margin-bottom:2%;
    margin-top:2%;
    right: 0;
    position: relative;
    z-index: 1;
}
table[class~="infobox"] span,table[class~="infobox"] th,table[class~="infobox"] tr{
    right: 0 !important;
    /*background-color: rgb(199, 239, 255);*/
    padding: 1% !important;
    position: relative ;
    /*width: 120% !important;*/
    /*margin-right: 20%;*/

}

table[class~="infobox"] tr{
    text-align: right;
}
#tableP{
    position: static;
    height: 100vh;
    background-color: rgba(120, 184, 104, 0.4);
}
/*////////////////////////////////tabella di destra fine/////////////////////////////////////*/

/*////////////////////// indice inizio ////////////////////////*/
#index{
    background-color: rgba(120, 184, 104, 0.4);
}


/*////////////////////// indice fine ////////////////////////*/



h3 {
    margin: auto;
    width: 40%;
    text-align: center !important;
    letter-spacing: 0.1em !important;
    border-bottom: 1px solid #000;
    margin-bottom: 1em !important;
}

@media screen and (max-width: 768px){
    #toc{
        position: static;
     }
    #tableP {
        position: static;
    }
}
/*///////////////////////////////////////////// PAGINA WIKIPEDIA FINE///////////////////////////////////////////////////// */